@use "../base/generales" as gen;
@use "../base//variables" as var;
@use "../base/mixin" as mix;
@use "../base/mediaquerys" as mq;

/* Para que el contenido no quede tapado por el navbar fijo */
body {
padding-top: 140px; /* ajustá según la altura de tu navbar/logo */
    .navbar {
    height: 120px;
    background-color: var.$beige !important;
    border-bottom: 2px solid var.$terracota;
    padding: 10px 30px;
        .navbar-brand{
            img{
                .logo {
                height: 100px;
                width: 100px;
                border-radius: 5px;
                display: block;
                }
                
            }
        } 
        .nav-link{
        text-decoration: none;
        color: var.$beige;
        font-size: 16px;
        font-weight: bold;
        background-color: var.$terracota;
        padding: 10px 15px;
        border-radius: 6px;
        margin: 0 5px;
        transition: background 0.3s;
        &:hover{
        background-color: var.$petroleo;
        color: var.$beige;
        }
        &:active{
        background-color: var.$petroleo !important;
        color: var.$beige !important;
        }    
        } 
        .idiomas{
            img{
            height: 35px;
            border: 2px solid var.$petroleo;
            border-radius: 4px;
            margin: 5px;
            transition: transform 0.3s ease;
            &:hover {
            transform: scale(1.2);
            }
            }
            a{
            &.active img{
            background-color: var.$petroleo; /* fondo oscuro */
            padding: 3px; /* espacio para que el fondo se vea */
            border-radius: 6px;
            }    
            }
                            
        }       
    }
    .dropdown-menu{
    background-color: var.$beige;
    border: 2px solid var.$petroleo;
        .dropdown-item {
        color: var.$petroleo;
        font-weight: bold;
        &:hover{
        background-color: var.$terracota;
        color: var.$beige;    
        }
        }
    }
}


